<!-- This calls the header fromt he partials folder -->
<%- include('partials/header.ejs'); -%>

<!-- This section contains an explanation of the website and the buttons to add a new book, delete a book, or edit a books info. -->
<header>
    <div class="headerCnt">
        <h1 class="display-1">Book Traker</h1>
        <p>The following project is an exercise from a boot camp. The purpose of this project is to use the information gained from the boot camp to create a functional website that will allow the user to have a list of the books they have read. This list should be connected to a database through Postgres, and the user should be able to add, edit, and delete information from the database from the server. </p> 
    </div>
    <div class="formContainer">
        <form action="/edit" method="get">
            <button class="btn btnEd">Edit List</button>
        </form>  
            <form action="/add" method="GET">
            <button type="submit" class="btn btnC">Add a book</button>
        </form>
    </div>
    <h5 style="text-align: center;">To delete a book from the list please provide the book's ISBN.</h5>
    <form action="/delete" class="frm" method="post">
        <button class="btn btnDe">Delete</button>
        <input placeholder="Enter ISBN to delete" required name="isbn"  type="text">
    </form>
    
</header>
<main>
    <!-- This code creates a a div containing all of the information gathered fro the server and creates one for each item within the aray -->
    <% for(let book of bookList) { %>
        <div class="cnt">
            <!-- In this section we take the objects ISBN using book.isbn to be able to use the api provided by the bootcamp, this code allows for each objet to have its own isbn. -->
            <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="Book Cover" class="book-cover">
            <div class="bookInfo">
            
                <!-- the following code shares information from the backend to the frontend without having to create each element with manual code. the information is passed as bookList and based on this information we are able to gathere specific information -->
                <h3 id="title<%= book.id %>"><%= book.bookname %></h3>
              <div>
                <h5>Author:</h5> <p id="author<%= book.id %>"><%= book.author %></p>
             
                <h5>Genre:</h5> <p id="genre<%= book.id %>"><%= book.genre %></p>
             
                <h5>ISBN:</h5> <p id="isbn<%= book.id %>"><%= book.isbn %></p>
              
                <h5>Year Read:</h5> <p id="yearRead<%= book.id %>"><%= book.yearread %></p>
             
                <h5>Rating:</h5> <p id="rating<%= book.id %>"><%= book.rating %></p>

                <h5>Description:</h5> <p class="description" id="description<%= book.id %>"><%= book.description %></p>
              </div>               
            </div>  
        </div>
    <% } %>
</main>


<footer class="py-3 my-4">
    <p class="text-center text-body-secondary">Copyright © <%= new Date().getFullYear() %></p>
</footer>


</body>
</html>